In [ ]:
""" Student Name: Kyle Ingersoll
    Program Name: M04_Programming_Assignment_Modules_and_Databases.ipynb
    Description: Finish exercises from Chapters 11 and 16 
"""

In [6]:
# Things to Do 11.1 
import zoo 

zoo.hours()

Open 9-5 daily

In [7]:
# Things to Do 11.2
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [1]:
# Things to Do 16.8
import sqlite3
import sqlalchemy as db
from sqlalchemy_utils import database_exists, create_database

# intialize engine to connect to database
engine = db.create_engine("sqlite:///./books.db")
if not database_exists(engine.url):
    create_database(engine.url)


# make connect object, metadata, and initialize books table
connect = engine.connect()
metadata = db.MetaData()
books = db.Table('books', metadata,
                        db.Column('title', db.String(255)),
                        db.Column('author', db.String(255)),
                        db.Column('year', db.Integer())
            )
metadata.create_all(engine)

# populate books.db with data
query1 = db.insert(books)
values_list =   [{'title':'The Weirdstone of Brisingamen', 'author':'Alan Garner', 'year':'1960'}, 
                {'title':'Perdido Street Station', 'author':'China Mi√©ville', 'year':'2000'},
                {'title':'Thud!', 'author':'Terry Pratchett', 'year': '2005'},
                {'title':'The Spellman Files', 'author':'Lisa Lutz', 'year': '2007'},
                {'title':'Small Gods', 'author':'Terry Pratchett', 'year':'1992'}                                                                             
                ]
result = connect.execute(query1,values_list)

# select titles of books in alphabetical order
# note to self, if database locks, close this program, delete books.db, and try again.
query2 = db.select(books.columns.title).order_by(db.asc(books.columns.title))
output = connect.execute(query2)
print(output.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]